@model GraduaatsProef2022_2023.Models.Onderwerpen
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Details";
}
@if (signInManager.IsSignedIn(User))
{
    @if (await userManager.IsInRoleAsync(await userManager.GetUserAsync(User), "Admin"))
    {
        <h1>Details</h1>

        <div>
            <h4>Onderwerpen</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Naam)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Naam)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Omschrijving)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Omschrijving)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Actie)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Actie)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.OnderwerpId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    else
    {
        <h1>Details</h1>

        <div>
            <h4>Onderwerpen</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Naam)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Naam)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Omschrijving)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Omschrijving)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Actie)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Actie)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
}
