@model IEnumerable<GraduaatsProef2022_2023.Models.Onderwerpen>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Index";
}
@if (signInManager.IsSignedIn(User))
{
    @if (await userManager.IsInRoleAsync(await userManager.GetUserAsync(User), "Admin"))
    {
        <div class="text-white">
            <h1>Onderwerpen</h1>

            <p>
                <a asp-action="Create">Maak een nieuw onderwerp aan</a>
            </p>
            <table class="table text-white">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Naam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Omschrijving)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Actie)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Omschrijving)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Actie)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.OnderwerpId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.OnderwerpId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.OnderwerpId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="text-white">
            <h1>Onderwerpen</h1>

            <table class="table text-white">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Naam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Omschrijving)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Actie)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Omschrijving)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Actie)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.OnderwerpId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

