@model IEnumerable<GraduaatsProef2022_2023.Models.ViewModel.UserIndexViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (signInManager.IsSignedIn(User))
{

        <div class="text-white m-5">
            <h1 class="text-center m-4">Jouw reserveringen</h1>
            <div class="justify-content-center align-items-center d-flex m-1">
                @foreach (var item in Model)
                {
                    <div class="border-reserveringen m-2">
                        <div class="text-center">
                            <h3>@Html.DisplayFor(modelitem => item.UserIndex.Naam)</h3>
                        </div>
                    <div class="m-0 top-0 bottom-0">
                        <p>Data: @Html.DisplayFor(modelitem => item.UserIndex.Datum)</p>
                    </div>
                    <div class="m-0 top-0 bottom-0">
                        <p>Duur: @Html.DisplayFor(modelitem => item.UserIndex.Hoelang)</p>
                    </div>
                    <div class="m-0 top-0 bottom-0">
                        <p>Prijs: @Html.DisplayFor(modelitem => item.UserIndex.Prijs)€</p>
                    </div>
                        <div class="m-1">
                            <p>@Html.DisplayFor(modelitem => item.UserIndex.Omschrijving)</p>
                        </div>
                        <div class="m-0 top-0 bottom-0">
                            <p>Teams Code: @Html.DisplayFor(modelitem => item.UserIndex.GeheimeCode)</p>
                        </div>
                        
                    </div>
                }

            </div>
        </div>

}